node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*
!.env.example

dist/
build/
coverage/
reports/
out/
tmp/
lib/

logs/
*.log


*.tmp
*.temp
.cache/
.jest/
jest-cache/
.vscode/
.idea/
*.swp
*.swo

pacts/
pact-logs/

*.tsbuildinfo
docker-data/
*.pid

.DS_Store  
Thumbs.db
*.ctrf.json
*.ctrf.lock
playwright-report/
ms-playwright/
test-results/
target/
.serenity/
serenity/

.husky/_/

